html{
    font-size: 62.5%;
      font-family: Arial, Helvetica, sans-serif;
}
body{
    height: 3000px;
}
p, strong{ 
    font-size: 1.75rem; 
} /* 16px */
.header{
    display: flex;
    position: fixed;
    width: 100%;
    flex-direction: column;
    background-color: white;
    top: 0;
    left: 0;
}
.list, .navigation--below, .navigation--up, .logo, .search--bar, .authentication{
    display: flex;
    align-items: center;
}
.navigation--up{
    justify-content: space-between;
}
.logo h1{
    font-size: 3rem;
}
.icon{
    width: 25px;
    height: 25px;
}
.logo .icon{
    height: 45px;
    width: 80px;
}
.search--bar .search{
    width: 30vw;
    height: 25px;
    border: rgb(205, 195, 195) solid 2px;
    border-radius: 5px;
    padding-right: 25px;
}
.search--bar .icon{
    height: 20px;
    width: 20px;
    position: relative;
    right: 25px;
}
.btn-authentication{
    height: 25px;
    background-color: white;
    border-radius: 10px;
    border: none;
    margin: 3px;
}
.vertical--bar{
    height: 2.5rem;
    width: 1px;
    background-color: black;
    margin: 0px 4px;
}
.horizontal--ruler{
    height: 1px;
    width: 100vw;
    background-color: rgb(205, 195, 195);
    /* margin-left: 10vw; */
}
.list, .navigation--below{
    display: flex;    justify-content: space-between;
}
.list{
    width: 50vw;
    margin-left: 30rem;
    align-items: flex-end;
}
.list button{
    border: none;
    background-color: white;
    position: relative;
    cursor: pointer;
}
.cart{
    margin-right: 7rem;
}
.list button{
    height: 3rem;
    box-sizing: border-box;
}
.list button:hover {
    padding: 0px 0px 15px 15px;
    display: inline-block;

}

.list button:hover .horizontal--bar {
    left: 16px;
    opacity: 1;
    transition: .75s;

}
.horizontal--bar{
    background-color: black;
    position: absolute;
    bottom: -10px;
    width: 75%;
    height: .5rem;
    margin-top: 0px;
    right: 5px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    opacity: 0;
      pointer-events: none;
}