.task-bar {
  background-color: rgb(255, 255, 255);
  width: 100%;
  position: fixed;
  top: 0rem;
  margin-top: 0rem;
}
.Header {
  display: flex;
  flex-direction: row;
  height: 1.125rem;
  align-items: center;
  justify-content: space-between;
  margin-top: 0rem;
  padding-top: 0.9375rem;
}

.name {
  flex: 18.75rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.75rem;
  margin-right: 2.8125rem;
  margin-left: 1.875rem;
}
.Search-taskbar {
  display: flex;
  flex: 1;
  max-width: 28.125rem;
  position: relative;
}
.Search {
  border: 0.09375rem solid rgb(193, 192, 192);
  border-radius: 0.375rem;
  font-size: 0.75rem;
  padding-top: 0.46875rem;
  padding-bottom: 0.46875rem;
  width: 100%;
}
.Search-icon {
  height: 0.75rem;
  position: absolute;
  top: 0.5625rem;
  right: 0.46875rem;
  cursor: pointer;
}
.icon-sign-in {
  height: 0.75rem;
  margin-right: 0.1875rem;
  vertical-align: middle;
}

.sign {
  flex: 28.125rem;
  background-color: rgb(254, 253, 252);
  border-radius: 0.375rem;
  border: none;
  font-size: 0.75rem;
  cursor: pointer;
}
.login {
  margin-left: 2.8125rem;
  margin-right: 0.9375rem;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 1.875rem;
  margin-top: 1.40625rem;
  border: 0.09375rem solid;
  border-top-color: rgb(227, 223, 223);
  border-bottom-color: rgb(227, 223, 223);
  border-left-color: white;
  border-right-color: white;
  gap: 2%;
  width: 100%;
  position: relative;
}
.menu .test {
  font-size: 0.75rem;
  background-color: rgb(255, 255, 255);
  border: none;
  margin-left: 0.1875rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  position: relative;
  cursor: pointer;
  padding-left: 0rem;
  padding-right: 0rem;
  transition: 0.15s;
}
.menu .test .box {
  display: none;
  position: absolute;
  background-color: rgb(255, 255, 255);
  width: 105vw;
  height: 18.75rem;
  top: 1.875rem;
  transition: 0.5s;
}
.menu .test .men {
  left: -35vw;
}
.menu .test .women {
  left: -40vw;
}
.menu .test .kid {
  left: -45vw;
}
.menu .test .BRANDS {
  left: -45vw;
}

.menu .test:hover .box {
  display: block;
}

.menu .test:hover {
  border-style: solid;
  border-bottom-width: 0.1875rem;
  border-bottom-color: black;
  border-top: none;
  border-left: none;
  border-right: none;
}

.dropdown-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: 100;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  gap: 20%;
}

.size-grid {
  display: grid;
  list-style: none;
  position: absolute;
  grid-template-rows: repeat(4, auto);
  grid-auto-flow: column;
  gap: 22.5%;
  max-width: 9.375rem;
  margin-left: -4.6875rem;
}

.size-grid.kid-size {
  display: flex;
  gap: 0.2rem;
  list-style: none;
  padding: 0;
  margin-left: -10rem;
  align-items: flex-start;
}

.size-column {
  border-right: 1px solid #ccc; /* gạch phân cách cột */
  padding: 0 1rem;
}

.size-grid.kid-size .size {
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-auto-flow: column;
  list-style: none;
  gap: 10%;
  padding: 0 1rem;
}

.size-grid.kid-size .size:last-child {
  border-right: none;
}

.size-btn {
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 0.28125rem;
  padding-bottom: 0.28125rem;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  background: #fff;
  border: 0.09375rem solid #ccc;
  border-radius: 0.28125rem;
  cursor: pointer;
  font-size: 0.75rem;
  font-weight: bold;
  transition: 0.2s;
}
.size-btn:hover {
  background: #d8d5d5;
  transform: scale(1.1);
}
.size-type {
  display: block;
  text-align: center;
  margin-bottom: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.5625rem;
  font-weight: 100;
  color: #dcdcdc;
}

.brands {
  display: grid;
  list-style: none;
  position: absolute;
  grid-template-columns: 1fr 1fr;
  gap: 22.5%;
  margin-left: -5.625rem;
}
.company {
  background-color: white;
  border: 0.046875rem solid;
  border-radius: 0.375rem;
  width: 1.875rem;
  height: 1.40625rem;
  padding-top: 0.28125rem;
  padding-bottom: 0.28125rem;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  transition: transform 0.2s ease;
}
.company:hover {
  background-color: #e9e7e7;
  transform: scale(1.1);
  vertical-align: middle;
}

.sellers {
  display: grid;
  list-style: none;
  position: absolute;
  grid-template-columns: 1fr 1fr;
  gap: 22.5%;
  margin-left: -5.625rem;
}

.product-image {
  width: 6.5625rem;
  height: 4.21875rem;
}

.name-product {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.5625rem;
  font-weight: bold;
}
.product {
  padding: 0.375rem;
  transition: transform 0.2s ease;
}
.product:hover {
  border: 0.046875rem solid rgb(184, 184, 184);
  border-radius: 0.1875rem;
  background-color: #eaeaea;
  transform: scale(1.1);
}

.brands-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-weight: 100;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  gap: 1%;
  padding-left: 20rem;
  padding-right: 25rem;

  list-style: none;
}
.company-brands-menu {
  width: 7rem;
  height: 5rem;
  background-color: white;
  border: 0.046875rem solid;
  border-radius: 0.375rem;
  padding-top: 0.28125rem;
  padding-bottom: 0.28125rem;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  transition: transform 0.2s ease;
}
.company-brands-menu:hover {
  background-color: #e9e7e7;
  transform: scale(1.1);
  vertical-align: middle;
}

body {
  height: 281.25rem;
  margin: 0rem;
}
