.product-grid {
  display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        gap: 30px;
        padding-left: 20px;
        padding-top: 20px;
        padding-bottom: 200px;
}

.prod-demo {
  flex: 1 1 calc(30%- 20px); /* 3 sản phẩm 1 hàng */
  max-width: calc(33.333% - 20px);
  background-color: white;
  border-radius: 12px;
  
  transition: transform 0.2s ease, background-color 0.2s ease;
}
.prod {
  width: 94%;
  align-items: center;
  text-align: center;
  height: auto;
  margin-top: 16px;
  margin-left: 16px;
  background-color: gray;
  position: relative;
  z-index: 1;
}
.img-prod {
  width: 80%;
  height: auto;
  display: inline-block;
  text-align: center;
  
  
}
.info-prod {
  font-family: Arial, Helvetica, sans-serif;
  width: 256px;
  height: 192px;
  margin-left: 16px;
}
.name-prod {
  font-size: 1.3rem;
  font-weight: bold;
}
.atribute-prod {
  font-size: 1rem;
  width: 48px;
  color: rgb(206, 184, 184);
}
.price {
  font-size: 1.2rem;
}
.prod-demo:hover {
  background-color: #e9e7e7;
  transform: scale(1.05);
  vertical-align: middle;
  border-radius: 16px;
  z-index: 1;
}
.new-text {
  height: 16px;
  width: 32px;
  padding: 1.6px;
  position: absolute;
  background-color: #000000;
  color: white;
  top: -8px;
  left: 8px;
}
.sale-text {
  height: 16px;
  width: 32px;
  padding: 1.6px;
  position: absolute;
  background-color: #fc0303;
  color: white;
  top: -8px;
  left: 8px;
}