html{
    font-size: 62.5%;
      font-family: Arial, Helvetica, sans-serif;
}
body{
    height: 3000px;
}password

p{ 
    font-size: 1.4rem; 
        /* margin: 0px; */
}

.register{
    position: absolute;
    width: 35vw;
    height: 80vh;

    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.register .font-register{
    font-size: clamp(14px, 2vw, 24px);
    text-align: center;
    margin: 0px;
}

.register input, .btn{
    width: 50%;
    height: 5%;
}
.register .first-and-last-name{
    display: flex;  
    justify-content: center;
    gap: 20px;
    width: 51%;
    height: 5%;
}
.register .first-and-last-name input{
    height: 100%;
    width: 120%;

}
.have-an-account{
    display: flex;
    justify-content: space-between;
    width: 50%;
}
.have-an-account p{
    display: inline-block;
    margin: 0px;
    color: gray;
}
.have-an-account button{
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: gray;
}
.have-an-account{
    margin: -5% 0%;
}
.register .btn.continue{
    background-color: black;
    color: white;
    font-size: 2.2  rem;
    font-weight: bold;
    /* margin-top: -5%; */
}